<div class="header-wrapper">
<div class="hero-page-content">
    <h3>Fullstack Developer</h3>
    <h1>Kevin Reinhold Triebe</h1>
    <div class="hero-buttons">
        <button><span>Contact me</span></button>
        <button><span>Download CV</span></button>
    </div>
</div>
<div class="scroll-widget">
    <button class="scroll-button">
        <span class="scroll-arrow">↓</span>
    </button>
    <span class="scroll-indicator"></span>
</div>
<div class="contact-widget">
    <span class="contact-email">kevintriebe2025@gmail.com</span>
    <div class="contact-icons">
        <img src="/assets/img/Github.png" alt="GitHub">
        <img src="/assets/img/Linkedin.png" alt="LinkedIn">
        
    </div>
    <span class="contact-indicator"></span>
</div>
<div class="header-banner">
    <div class="header-banner-track">
        <span>Fullstack Developer</span>
        <span>•</span>
        <span>Based in Lößnitz (SN)</span>
        <span>•</span>
        <span>Available for remote work</span>
        <span>•</span>
        <span>Open to work</span>
        <span>•</span>
        <span>Fullstack Developer</span>
        <span>•</span>
        <span>Based in Lößnitz (SN)</span>
    </div>
</div>
<img class="background-image" src="/assets/img/12. Skill set Background.png" alt="BG">
</div>
