<section class="imprint-page">
  <div class="container imprint-content">
    <h1>{{ 'IMPRINT.TITLE' | translate }}</h1>

    <section>
      <h2>{{ 'IMPRINT.HEAD_IMPRINT' | translate }}</h2>
      <p>Kevin Reinhold Triebe</p>
      <p>Johannisstraße 60</p>
      <p>08294 Lößnitz</p>
    </section>

    <section>
      <h2>{{ 'IMPRINT.HEAD_CONTACT' | translate }}</h2>
      <p>Email: kevintriebe2025@gmail.com</p>
    </section>

    <section>
      <h2>{{ 'IMPRINT.HEAD_ACCEPTANCE' | translate }}</h2>
      <p>
        {{ 'IMPRINT.ACCEPTANCE_TEXT' | translate }}
      </p>
    </section>

    <section>
      <h2>{{ 'IMPRINT.HEAD_SCOPE' | translate }}</h2>
      <p>
        {{ 'IMPRINT.SCOPE_TEXT_1' | translate }}
      </p>
      <p>
        {{ 'IMPRINT.SCOPE_TEXT_2' | translate }}
      </p>
    </section>

    <section>
      <h2>{{ 'IMPRINT.HEAD_RIGHTS' | translate }}</h2>
      <p>
        {{ 'IMPRINT.RIGHTS_TEXT' | translate }}
      </p>
    </section>

    <section>
      <h2>{{ 'IMPRINT.HEAD_USE' | translate }}</h2>
      <p>
        {{ 'IMPRINT.USE_TEXT' | translate }}
      </p>
    </section>

    <section>
      <h2>{{ 'IMPRINT.HEAD_DISCLAIMER' | translate }}</h2>
      <p>
        {{ 'IMPRINT.DISCLAIMER_TEXT' | translate }}
      </p>
    </section>

    <section>
      <h2>{{ 'IMPRINT.HEAD_INDEMNITY' | translate }}</h2>
      <p>
        {{ 'IMPRINT.INDEMNITY_TEXT' | translate }}
      </p>
    </section>

    <section>
      <p>{{ 'IMPRINT.CONTACT_TEXT' | translate }}</p>
      <p>{{ 'IMPRINT.DATE_TEXT' | translate }}</p>
    </section>
  </div>
</section>
