<div class="amp" id="about-me">
  <div class="container">
    <div class="Amimg"> 
      <img src="/assets/img/kevintriebe.png" alt="Kevin Triebe" class="profile-image profile-image-hover">
      <img src="/assets/img/Capa_1.png" alt="MGProfile" class="profile-image">
    </div>
    <div class="AmTextWrap">
      <h3 class="who-i-am">Who I Am</h3>
      <div class="AmText">
        <h2>About me</h2>
        <p>

         Hey there, I'm Lukas! Write some information about yourself that is IT related. Why are you passionate about coding? What is your source of inspiration for improving your programming skills?<br><br><br>
        </p>
         <p class="about-detail-line"><img src="/assets/img/locate.png" alt="Background" class="background-image"><span class="about-detail-text">Where are you based? Would you be open to working remotely or potentially relocating?</span></p><br><br>
          
         <p class="about-detail-line"><img src="/assets/img/head.png" alt="Background" class="background-image"><span class="about-detail-text">Show that you are open-minded. Are you enthusiastic about learning new technologies and continually improving your skills?</span></p><br><br>
          
         <p class="about-detail-line"><img src="/assets/img/check.png" alt="Background" class="background-image"><span class="about-detail-text">A brief description of your problem-solving approach.
          Do you learn from each challenge as you search for the most efficient or elegant solution? You can include some keywords like: analytical thinking, creativity, persistence and  collaboration.</span></p>
        
    </div>
  </div>
</div>
