<div class="amp" id="about-me">
  <div class="container">
    <div class="Amimg"> 
      <img src="/assets/img/kevintriebe.png" alt="Kevin Triebe" class="profile-image profile-image-hover">
      <img src="/assets/img/Capa_1.png" alt="MGProfile" class="profile-image">
    </div>
    <div class="AmTextWrap">
      <h3 class="who-i-am">{{ 'ABOUT.WHO' | translate }}</h3>
      <div class="AmText">
        <h2>{{ 'ABOUT.TITLE' | translate }}</h2>
        <p>

         {{ 'ABOUT.INTRO' | translate }}<br><br><br>
        </p>
         <p class="about-detail-line"><img src="/assets/img/locate.png" alt="Background" class="background-image"><span class="about-detail-text">{{ 'ABOUT.DETAIL_LOCATION' | translate }}</span></p><br><br>
          
         <p class="about-detail-line"><img src="/assets/img/head.png" alt="Background" class="background-image"><span class="about-detail-text">{{ 'ABOUT.DETAIL_OPEN' | translate }}</span></p><br><br>
          
         <p class="about-detail-line"><img src="/assets/img/check.png" alt="Background" class="background-image"><span class="about-detail-text">{{ 'ABOUT.DETAIL_SOLVE' | translate }}</span></p>
        
    </div>
  </div>
</div>
