<div class="hero-wrapper">
<div class="hero-page">
        <div class="menu-hero">
            <button class="click-me-button" 
                    (click)="toggleLanguage()"
                    (mouseenter)="onHoverStart()"
                    (mouseleave)="onHoverEnd()">
                <img [src]="clickMeImageSrc" alt="Click Me">
            </button>
            <a href="">About me</a>
            <a href="">Skills</a>
            <a href="">Projects</a>
        </div>
    <img src="/assets/img/krt_logo_big.png" alt="Hero Image">
</div>
