.hero-wrapper {  
  display: flex;
  flex-direction: column;
}

.hero-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  height: 100px;
  background: linear-gradient(#000000a2, #00000000);
}

.menu-hero {
  display: flex;
  gap: 20px;
}

.hero-page img {
  width: 150px;
  height: auto;
}


