.hero-wrapper {  
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  width: 100%;
  background: linear-gradient(#000000a2, #00000000);  
}

.hero-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
  height: 100px;
}

.menu-hero {
  display: flex;
  gap: 20px;
}

.hero-page img {
  width: 150px;
  height: auto;
}

.hero-page a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  display: inline-flex;
  justify-content: center;
}

.hero-page a:hover {
  color: #3DCFB6;
}

.hero-page a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #3DCFB6;
  color: #3DCFB6;
  transform: translateX(-50%) scale(0);
  transition: transform 0.2s ease;
}

.hero-page a:hover::after {
  transform: translateX(-50%) scale(1);
}


