<div class="hero-wrapper">
<div class="hero-page">
        <div class="menu-hero">
            <button>Click me</button>
            <a href="">About me</a>
            <a href="">Skills</a>
            <a href="">Projects</a>
        </div>
    <img src="/assets/img/krt_logo_big.png" alt="Hero Image">
</div>
<div class="hero-page-content">
    <h3>Fullstack Developer</h3>
    <h1>Kevin Reinhold Triebe</h1>
    <div class="hero-buttons">
        <button>Contact me</button>
        <button>Download CV</button>
    </div>

</div>
<img class="background-image" src="/assets/img/12. Skill set Background.png" alt="BG">
</div>